$purple: rgb(48, 6, 78);
$white: rgb(253,240,213);
$yellow: rgb(255,183,0);
$navfont: 'Syne Mono', monospace;
$titlefont: 'Source Code Pro', monospace;
$textfont: 'Cabin', sans-serif;
$break-large: 1200px;
$break-medium: 720px;
$break-small: 320px;

.main-container-icons,
.main-container,
.nav {
  display: flex;
}