$purple: rgb(48, 6, 78);
$white: rgb(253, 240, 213);
$yellow: rgb(255, 220, 0);
$navfont: "Syne Mono", monospace;
$titlefont: "Source Code Pro", monospace;
$textfont: "Cabin", sans-serif;
$break-large: 1200px;
$break-medium: 768px;
$break-small: 425px;

.footer-container,
.contact-container,
.about-container-bottom-box-title,
.about-container-top,
.portfolio-container-grid-item3-icons,
.portfolio-container-grid-item2-icons,
.portfolio-container-grid-item1-icons,
.portfolio-container-grid-item3,
.portfolio-container-grid-item2,
.portfolio-container-grid-item1,
.portfolio-container-top-right-buttons,
.portfolio-container-top-right,
.portfolio-container-title,
.main-container-icons,
.main-container,
.nav {
  display: flex;
}
