@import 'config';

.nav {
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: $purple;
  &-item {
    a {
      font-family: $navfont;
      font-size: 22px;
      margin-left: 50px;
      color: $white;
      &:hover {
        animation: color-change 0.4s infinite;
        @keyframes color-change {
          0% { color: $white; }
          50% { color: $yellow; }
          100% { color: $white; }
        }
      }
    }
    &:first-child a {
      margin-left: 0;
    }
  }
  img {
    margin-left: 10px;
    width: 30px;
    filter: invert(70%) sepia(100%) saturate(457%) hue-rotate(360deg) brightness(105%) contrast(105%);
  }
}

.main {
  height: 680px;
  background-image: url("../assets/images/bg-pf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &-container {
    position: relative;
    top: 110px;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    &-icons {
      flex-direction: column;
      justify-content: space-between;
      a {
        padding: 10px;
        background-color: $purple;
        margin-bottom: 15px;
        border-radius: 50%;
        &:hover {
          cursor: pointer;
          animation: bounce 1s linear;
        }
        @keyframes bounce {
          20%,50%,80%,to{
            transform: translateY(0);
          }
          40%{
            transform: translateY(-11px);
          }
          70%{
            transform: translateY(-6px);
          }
          90%{
            transform: translateY(-3px);
          }
        }
      }
      img {
        width: 30px;
        filter: invert(70%) sepia(100%) saturate(457%) hue-rotate(360deg) brightness(105%) contrast(105%);
      }
    }
    &-content {
      position: relative;
      left: 80px;
      color: $purple;
      font-family: $titlefont;
      font-size: 35px;
      &-title {
        display: inline-block;
        font-size: 50px;
        line-height: 65px;
        text-shadow: 2.5px 2.5px $yellow;
        &:nth-child(3) {
          position: relative;
          left: 50px;
        }
      }
      &-title2 {
        font-family: $navfont;
        font-size: 60px;
        position: relative;
        left: 110px;
        margin-top: 40px;
        margin-bottom: 50px;
        text-shadow: 2.5px 2.5px $purple;

      }
      &-body {
        font-family: $textfont;
        font-size: 28px;
        letter-spacing: 1.5px;
        background-color: $purple;
        color: $yellow;
        padding: 20px;
        border-radius: 15px;
        width: 70vw;
        min-width: 900px;
        margin-top: 25px;
        line-height: 40px;
      }
    }
  }
}

.portfolio{
  height: 1070px;
  background: $white;
  &-container {
    position: relative;
    top: 95px;
    margin: 0 auto;
    max-width: 77%;
    &-title {
      justify-content: space-around;
      margin-bottom: 95px;
      &-text {
        width: 355px;
        font-family: $navfont;
        font-size: 33px;
        font-weight: 900;
        color: $purple;
        margin-right: 10px;
      }
      &-line {
        align-self: center;
        width: 90%;
        border-bottom: 5px solid $purple;
      }
    }
    &-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);;
      grid-template-rows: 1fr;
      grid-gap: 30px;
      margin-bottom: 45px;
      &-image {
        width: 100%;
        background-image: url("../assets/images/gameshark-scrshot.png");
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        box-shadow: -21px 21px 46px 0px rgba(0,0,0,0.75);
      }
      &-right {
        justify-content: space-evenly;
        flex-direction: column;
        &-title {
          font-family: $titlefont;
          font-size: 30px;
          color: $purple;
          margin-bottom: 30px;
        }
        &-text {
          font-family: $textfont;
          font-size: 20px;
          color: $purple;
          line-height: 28px;
          margin-bottom: 30px;
        }
        &-icons {
          align-items: center;
          margin-bottom: 30px;
          &-item1 {
            width: 45px;
            margin-right: 13px;
          }
          &-item2 {
            width: 45px;
            margin-right: 13px;
          }
          &-item3 {
            width: 62px;
            margin-right: 13px;
          }
          &-item4 {
            width: 57px;
            margin-right: 13px;
          }
          &-item5 {
            width: 90px;
            margin-right: 13px;
          }
        }
        &-buttons {
          a {
            font-family: $navfont;
            font-size: 20px;
            width: fit-content;
            background-color: $purple;
            color: $white;
            text-align: center;
            border-radius: 8px;
            &:first-child {
              padding: 18px 23px;
              margin-right: 20px;
            }
            &:nth-child(2) {
              padding: 13px 23px 18px;
            }
            img {
              position: relative;
              top: 3px;
              width: 23px;
              filter: invert(88%) sepia(3%) saturate(2690%) hue-rotate(332deg) brightness(112%) contrast(99%);
            }
            &:hover {
              cursor: pointer;
              animation: color-change 0.4s infinite;
              @keyframes color-change {
                0% { color: $white; }
                50% { color: $yellow; }
                100% { color: $white; }
              }
            }
          }
        }
      }
    }
    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 250px;
      grid-gap: 15px;
      &-item1 {
        flex-direction: column;
        background-image: url("../assets/images/tascreenshot01.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: -21px 21px 46px 0px rgba(0,0,0,0.75);
        align-items: center;
        &-shadow {
          position: absolute;
          height: 250px;
          width: 33%;
          background: rgb(0,0,0);
          background: linear-gradient(180deg, rgba(0,0,0,0.4023984593837535) 0%, rgba(0,0,0,0.39959733893557425) 100%);
          z-index: 1;
        }
        &-title {
          position: relative;
          top: 50px;
          font-family: $titlefont;
          font-size: 33px;
          color: $purple;
          background-color: $white;
          width: 100%;
          text-align: center;
          z-index: 2;
          box-shadow: inset 2px 3px 21px -1px rgba(0,0,0,0.5);
          padding: 3px 0;
        }
        &-text {
          position: relative;
          top: 70px;
          font-family: $textfont;
          font-size: 20px;
          font-weight: 900;
          text-shadow: 0.1px 0.1px $white;
          color: $white;
          width: 90%;
          z-index: 2;
          padding: 5px;
          letter-spacing: 2px;
          line-height: 21px;
        }
        &-icons {
          position: relative;
          top: 90px;
          z-index: 2;
          span {
            font-family: $textfont;
            font-size: 19px;
            font-weight: 900;
            padding: 8px;
            background-color: $white;
            color: $purple;
            border: 2px solid $purple;
            border-radius: 5px;
            margin-right: 10px;
            box-shadow: inset 2px 3px 21px -1px rgba(0,0,0,0.5);
          }
        }
      }
      &-item2 {
        flex-direction: column;
        background-image: url("../assets/images/nwscreenshot.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 21px 46px 0px rgba(0,0,0,0.75);
        align-items: center;
        &-shadow {
          position: absolute;
          height: 250px;
          width: 33%;
          background: rgb(0,0,0);
          background: linear-gradient(180deg, rgba(0,0,0,0.4023984593837535) 0%, rgba(0,0,0,0.39959733893557425) 100%);
          z-index: 1;
        }
        &-title {
          position: relative;
          top: 50px;
          font-family: $titlefont;
          font-size: 33px;
          color: $purple;
          background-color: $white;
          width: 100%;
          text-align: center;
          z-index: 2;
          box-shadow: inset 2px 3px 21px -1px rgba(0,0,0,0.5);
          padding: 3px 0;
        }
        &-text {
          position: relative;
          top: 70px;
          font-family: $textfont;
          font-size: 20px;
          font-weight: 900;
          text-shadow: 0.1px 0.1px $white;
          color: $white;
          width: 90%;
          z-index: 2;
          padding: 5px;
          letter-spacing: 2px;
          line-height: 21px;
        }
        &-icons {
          position: relative;
          top: 80px;
          z-index: 2;
          span {
            font-family: $textfont;
            font-size: 19px;
            font-weight: 900;
            padding: 8px;
            background-color: $white;
            color: $purple;
            border: 2px solid $purple;
            border-radius: 5px;
            margin-right: 10px;
            box-shadow: inset 2px 3px 21px -1px rgba(0,0,0,0.5);
          }
        }
      }
      &-item3 {
        flex-direction: column;
        background-image: url("../assets/images/rpsscreenshot.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 21px 21px 46px 0px rgba(0,0,0,0.75);
        align-items: center;
        &-shadow {
          position: absolute;
          height: 250px;
          width: 33%;
          background: rgb(0,0,0);
          background: linear-gradient(180deg, rgba(0,0,0,0.4023984593837535) 0%, rgba(0,0,0,0.39959733893557425) 100%);
          z-index: 1;
        }
        &-title {
          position: relative;
          top: 40px;
          font-family: $titlefont;
          font-size: 31px;
          color: $purple;
          background-color: $white;
          width: 100%;
          text-align: center;
          z-index: 2;
          box-shadow: inset 2px 3px 21px -1px rgba(0,0,0,0.5);
          padding: 3px 0;
        }
        &-text {
          position: relative;
          top: 50px;
          font-family: $textfont;
          font-size: 19px;
          font-weight: 900;
          text-shadow: 0.1px 0.1px $white;
          color: $white;
          width: 90%;
          z-index: 2;
          padding: 5px;
          letter-spacing: 2px;
          line-height: 24px;
        }
        &-icons {
          position: relative;
          top: 62px;
          z-index: 2;
          span {
            font-family: $textfont;
            font-size: 19px;
            font-weight: 900;
            padding: 8px;
            background-color: $white;
            color: $purple;
            border: 2px solid $purple;
            border-radius: 5px;
            margin-right: 10px;
            box-shadow: inset 2px 3px 21px -1px rgba(0,0,0,0.5);
          }
        }
      }
    }
  }
}

.about {
  background-image: url("../assets/images/portfolio-bg.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  &-container {
    margin: 0 auto;
    max-width: 77%;
    &-top {
      flex-direction: column;
      margin-bottom: 100px;
      &-title {
        font-family: $navfont;
        font-size: 50px;
        color: $yellow;
        margin-bottom: 30px;
      }
      &-text {
        font-family: $textfont;
        font-weight: 900;
        color: $purple;
        background-color: rgba(253,240,213, 0.9);
        font-size: 25px;
        max-width: 70%;
        line-height: 34px;
        margin-bottom: 30px;
        padding: 10px;
        border-radius: 10px;
      }
      &-button {
        font-family: $navfont;
        font-weight: 700;
        font-size: 23px;
        width: fit-content;
        padding: 15px;
        background-color: $yellow;
        color: $purple;
        border-radius: 8px;
        &:hover {
          animation: color-change 1s infinite;
          @keyframes color-change {
            0% { color: $purple; }
            50% { color: $yellow; }
            100% { color: $purple; }
          }
        }
      }
    }
    &-line {
      display: block;
      border-bottom: 5px solid $yellow;
      margin-bottom: 100px;
    }
    &-bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      &-box {
        &-title {
          margin-bottom: 40px;
          img {
            width: 28px;
            margin-right: 10px;
            filter: invert(78%) sepia(33%) saturate(1482%) hue-rotate(358deg) brightness(108%) contrast(106%);
          }
          h3 {
            font-family: $titlefont;
            font-size: 30px;
            color: $yellow;
          }
        }
        &-list {
          font-family: $textfont;
          font-size: 20px;
          list-style-type: disc;
          color: $yellow;
          &-text {
            position: relative;
            left: 21px;
            margin-bottom: 18px;
          }
        }
      }
    }
  }
}

.contact {
  padding: 150px 0;
  background-color: $white;
  &-container {
    margin: 0 auto;
    max-width: 77%;
    align-items: center;
    &-title {
      font-family: $titlefont;
      font-size: 45px;
      color: $purple;
      max-width: 600px;
      margin-right: 30px;
      line-height: 50px;
    }
    &-form {
      font-family: $navfont;
      font-size: 30px;
      font-weight: 900;
      color: $purple;
      input {
        border: 0;
        border-bottom: 2px solid $purple;
        background-color: $white;
        font-family: $navfont;
        color: $purple;
        font-size: 25px;
        padding: 5px 10px;
      }
      textarea {
        margin: 30px 0;
        border-radius: 10px;
        border: 2px solid $yellow;
        background-color: $purple;
        font-family: $navfont;
        color: $white;
        font-size: 25px;
        padding: 5px 10px
      }
      a {
        font-size: 23px;
        width: fit-content;
        padding: 15px;
        background-color: $purple;
        color: $yellow;
        border-radius: 8px;
        &:hover {
          animation: color-change 0.4s infinite;
          @keyframes color-change {
            0% { color: $purple; }
            50% { color: $yellow; }
            100% { color: $purple; }
          }
        }
      }
    }
  }
}

.footer {
  background-color: $purple;
  height: 90px;
  padding-top: 23px;
  &-container {
    margin: 0 auto;
    max-width: 77%;
    justify-content: center;
    a {
      margin-right: 28px;
      img {
        width: 40px;
        filter: invert(78%) sepia(33%) saturate(1482%) hue-rotate(358deg) brightness(108%) contrast(106%);
      }
      &:hover {
        cursor: pointer;
        animation: bounce 1s linear;
      }
      @keyframes bounce {
        20%,50%,80%,to{
          transform: translateY(0);
        }
        40%{
          transform: translateY(-11px);
        }
        70%{
          transform: translateY(-6px);
        }
        90%{
          transform: translateY(-3px);
        }
      }
    }
  }
}

.whiteback {
  height: 100%;
  background-color: rgba(253,240,213, 0.6);
}