@import 'config';

.nav {
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: $purple;
  &-item {
    a {
      font-family: $navfont;
      font-size: 22px;
      margin-left: 50px;
      color: $white;
      &:hover {
        animation: color-change 0.4s infinite;
          @keyframes color-change {
            0% { color: $white; }
            50% { color: $yellow; }
            100% { color: $white; }
          }
      }
    }
    &:first-child a {
      margin-left: 0;
    }
  }
  img {
    margin-left: 10px;
    width: 30px;
    filter: invert(78%) sepia(28%) saturate(4798%) hue-rotate(359deg) brightness(102%) contrast(105%);
  }
}

.main {
  height: 680px;
  background-image: url("../assets/images/bg-pf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // @media screen and (max-width: $break-large) {
  //   background-position: bottom;
  // }
  &-container {
    position: relative;
    top: 110px;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    &-icons {
      flex-direction: column;
      justify-content: space-between;
      span {
        padding: 10px;
        background-color: $purple;
        margin-bottom: 15px;
        border-radius: 50%;
        &:hover {
          cursor: pointer;
          animation: bounce 1s linear;
        }
        @keyframes bounce {
          20%,50%,80%,to{
            transform: translateY(0);
          }
          40%{
            transform: translateY(-11px);
          }
          70%{
            transform: translateY(-6px);
          }
          90%{
            transform: translateY(-3px);
          }
        }
      }
      img {
        width: 30px;
        filter: invert(78%) sepia(28%) saturate(4798%) hue-rotate(359deg) brightness(102%) contrast(105%);
      }
    }
    &-content {
      position: relative;
      left: 80px;
      color: $purple;
      font-family: $titlefont;
      font-size: 35px;
      &-title {
        display: inline-block;
        font-size: 50px;
        line-height: 65px;
        text-shadow: 2.5px 2.5px $yellow;
        &:nth-child(3) {
          position: relative;
          left: 50px;
        }
      }
      &-title2 {
        font-family: $navfont;
        font-size: 60px;
        position: relative;
        left: 110px;
        margin-top: 40px;
        margin-bottom: 50px;
        text-shadow: 2.5px 2.5px $purple;

      }
      &-body {
        font-family: $textfont;
        font-size: 28px;
        letter-spacing: 1.5px;
        background-color: $purple;
        color: $yellow;
        padding: 20px;
        border-radius: 15px;
        width: 70vw;
        min-width: 900px;
        margin-top: 25px;
        line-height: 40px;
      }
    }
  }
}

.whiteback {
  height: 100%;
  background-color: rgba(253,240,213, 0.6);
}